@import './components/utils';
@import './components/typography';
@import './components/socials';
@import './components/container';
@import './components/image';
@import './components/dates';
@import './components/list';
@import './components/blockquote';
@import './components/sections';

/**
 * Default Template
 */

/**
 * Theme Header Fonts 
 */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&display=swap');
.crimson {
    font-family: 'Crimson Text', serif;
}

.resume-viewer {
    background: var(--Basic-background-color);
    color: var(--Basic-text-color);
    h1,h2,h3,h4,h5 {
        color: var(--Basic-title-color);
    }
    .label {
        color: var(--Basic-title-color);
        opacity: 0.75;
    }
    a {
        color: var(--Basic-link-color);
    }
    /* Main header fonts */
    h1 {
        font-weight: 600;
    }
    h2 {
        @extend .crimson;
    }

    /* Resume header */
    .resume-header { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;
        img {
            order: 2;
        }
        .label {
            @extend .crimson;
            font-size: 133.333%;
            &:before {
                content: '';
                width: 1em;
                height: 1em;
                background-color: #000;
                display: block;float: left;
                margin-right: 0.5em;
                background-color: var(--Basic-link-color);
            }
        }
    }

    /* Record heading styling */
    /* Place the dates on the right */
    .record {
        .header {
            display: flex;
            justify-content: space-between;
            .dates {
                order: 2;
            }
            .head {
                order: 1;
            }
            @media screen and (max-width: 767px) {
                display: block;
                .dates {
                    font-size: 90%;
                }
            }
        }
    }

    .contact-details {
        display: flex;
        h3 {
            margin-bottom: 0.556em;
        }
        & > div {
            flex: 1;
        }
        @media screen and (max-width: 767px) {
            display: block;
        }
    }

    /* individual sections */
    .skills {
        .collection {
            @extend .grid;
        }
        .level {
            font-style: italic;
            opacity: 0.7;
            margin-bottom: 0.667em;
        }
        .record {
            border-bottom: none;
            padding-right:1em;
        }
    }

    section.languages {
        .collection {
            display: flex;
            flex-wrap: wrap;
            .language {
                padding: 1em;
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
                .header {
                    display: inline;
                }
            }
        }
    }

    .interests {
        .collection {
            @extend .grid;
            .record {
                margin: 0.667em;
                padding-bottom: 0;
                padding: 1em;
                border-bottom: none;
                border-radius: 10px;
                .header {
                    display: inline;
                }
            }
        }
    }
    .projects {
        .roles {
            @extend .flat-list;
        }
    }
}

html[dir="rtl"] {
    .resume-viewer {
        .resume-header { 
            .label {
                &:before {
                    float: right;
                    margin-right: 0;
                    margin-left: 0.5em;
                }
            }
        }
    }
}