@import './components/utils';
@import './components/list';
@import './components/socials';
@import './components/dates';
@import './components/image';
@import './components/container';
@import './components/blockquote';
@import './components/typography';
@import './components/sections';
@import './components/progress/circle';

/**
 * Creative Template
 */

.resume-viewer {
    background: var(--Creative-background-color);
    color: var(--Creative-text-color);
    h1,h2,h3,h4,h5 {
        color: var(--Creative-title-color);
    }
    a {
        color: var(--Creative-primary-color);
    }

    .resume-header {
        align-items: center;
        flex-direction: column;
        h1 {
            font-weight: bold;
        }
        .label {
            color: var(--Creative-primary-color);
            /* ??? */
            font-size: 100%;
            margin-top: 0.667em;
            margin-bottom: 2.667em;
            opacity: 1;
        }
        img {
            position: absolute;
            left: 0;
            transform: translate(-110%);
            @media screen and (max-width: 767px) {
                position: relative;
                transform: translate(0%);
                margin-bottom: 1.333em;
            }
        }
    }
    .sections .basics {
        .summary {
            margin-bottom: 2em;
        }
        .record {
            position: relative;
            @media screen and (max-width: 767px) {
                margin-left: 0;
            }
            
        }
        .contact-details {
            display: flex;
            .contact {
                flex: 1;
                flex-grow: 1;
            }
            .profiles {
                flex: 1;
                flex-grow: 1;
            }
        }
    }
    .sections {
        section {
            margin-left: 20%;
            border-left: 5px solid var(--Creative-primary-color);
            @media screen and (max-width: 767px) {
                margin-left: 0%;
                border-left: none;
            }
            &:last-child {
                margin-bottom: 2.667em;
            }
            h2 {
                font-size: 133.333%;
                font-style: italic;
                position:absolute;
                border-bottom: none;
                transform: translate(-100%);
                padding-left: 1em;
                padding-right: 1em;
                padding-top: 1em;
                padding-bottom: 1em;
                min-width: 16%;
                background-color: var(--Creative-primary-color);
                background: var(--Creative-primary-color);
                text-align: right;
                color: var(--Creative-section-color);
                margin-bottom: 1em;
                @media screen and (max-width: 767px) {
                    float: none;
                    font-size: 266.667%;
                    letter-spacing: -0.05em;
                    transform: none;
                    position:relative;
                    text-align: left;
                    background-color: transparent;
                    color: var(--Creative-primary-color);
                    border-bottom: 5px solid var(--Creative-primary-color);
                    padding-left: 0;
                    font-size: 200%;
                }
                &:after {
                    content: '';
                    width: 1px;
                    height: 1px;
                    border: 15px solid  var(--Creative-background-color);
                    border-top: 15px solid transparent;
                    border-right: 15px solid transparent;
                    position: absolute;
                    bottom: 0px;
                    left: -1px;
                }
                @media screen and (max-width: 767px) {
                    &:after {
                        display: none;
                    }
                }
            }
            .record {
                padding-left: 1.333em;
                border-bottom: none;
                padding-bottom: 0;
                @media screen and (max-width: 767px) {
                    margin-left: 0;
                    border-left: none;
                    padding-left: 0;
                }
                .header {
                    display: flex;
                    justify-content: space-between;
                    .dates {
                        order: 2;
                    }
                    .head {
                        order: 1;
                    }
                    @media screen and (max-width: 767px) {
                        display: block;
                        .dates {
                            font-size: 90%;
                        }
                    }
                }
            }
        }
    }
    /* individual sections */
    .skills {
        .collection {
            @extend .grid;
            padding-left: 1.333em;
            .content {
                margin-left: 0%;
                padding-left: 0;
                border-left: none;
            }
            .record {
                margin-left: 0;
                border-left: none;
                padding-left: 0;
                padding-right: 1.333em;
            }
        }
    }
    .skill {
        position: relative;
        .header {
            display: flex;
            flex-direction: column;
            
            .bar {
                order: 1;
                position: absolute;
                top: 0.333em;
                left: 0;
            }
            .head {
                order: 3;
                margin-left: 3.333em;
            }
            .title {
                order: 2;
            }
        }
        .keywords {
            margin-left: 3.333em;
        }
    }
    .interests {
        .collection {
            @extend .grid;
            padding-left: 1.333em;
            .interests {
                margin-left: 0%;
                padding-left: 0;
                border-left: none;
            }
            .record {
                margin-left: 0;
                border-left: none;
                padding-left: 0;
                padding-right: 1.333em;
            }
        }
    }
    .languages {
        .collection {
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
        }
        .language {
            padding-left: 0;
            padding-right: 1.333em;
            border-left: none;
            .header {
                display: flex;
                flex-direction: column;
                position: relative;
                .bar {
                    order: 1;
                    position: absolute;
                    top: 0.333em;
                }
                .dates {
                    order: 3;
                    margin-left: 3.333em;
                }
                .title {
                    order: 2;
                    margin-left: 2.778em;
                }
            }
        }
    }
    .bar {
        --bar-primary-color: var(--Creative-primary-color);
        --bar-secondary-color: lightgray;
        --bar-background-color: var(--Creative-background-color);
    }
}

/* RTL modifications */
html[dir="rtl"] {
    .resume-viewer {
        .sections {
            section {
                margin-left: 0;
                margin-right: 20%;
                border-left: 0px solid transparent;
                border-right: 5px solid var(--Creative-primary-color);
                h2 {
                    transform: translate(100%);
                    text-align: left;
                    &:after {
                        border-right:  15px solid var(--Creative-background-color);
                        border-left: 15px solid transparent;
                        left: auto;
                        right: -1px;
                    }
                }
            }
        }
        .record {
            padding-left: 0;
            padding-right: 1.333em;
        }
        .resume-header {
            img {
                left: auto;
                right: 0;
                transform: translate(110%);
            }
        }
        .skills {
            .collection {
                padding-left: 0;
                padding-right: 1.333em;
                .record {
                    padding-right: 0;
                    padding-left: 1.333em;
                }
            }
            .skill {
                position: relative;
                .header {
                    .bar {
                        order: 1;
                        position: absolute;
                        top: 0.333em;
                        right: 0;
                        left: auto;
                    }
                    .head {
                        order: 3;
                        margin-right: 3.333em;
                        margin-left: auto;
                    }
                    .title {
                        order: 2;
                    }
                }
                .keywords {
                    margin-left: auto;
                    margin-right: 3.333em;
                }
            }
        }
        .languages {
            .collection {
                padding-left: 0;
                padding-right: 1.333em;
            }
            .language {
                padding-left: 1.333em;
                padding-right: 0;
                border-left: none;
                .header {
                    .bar {
                        order: 1;
                        position: absolute;
                        top: 0.333em;
                    }
                    .dates {
                        order: 3;
                        margin-left: auto;
                        margin-right: 3.333em;
                    }
                    .title {
                        order: 2;
                        margin-left: auto;
                        margin-right: 2.778em;
                    }
                }
            }
        }
    }
}