[
    {
        "name": "primary-color",
        "label": "Primary Color",
        "value": "#FF4500",
        "default": "#FF4500",
        "type": "color"
    },
    {
        "name": "section-color",
        "label": "Section Color",
        "value": "#ffffff",
        "default": "#ffffff",
        "type": "color"
    },
    {
        "name": "title-color",
        "label": "Title Color",
        "value": "#000000",
        "default": "#000000",
        "type": "color"
    },
    {
        "name": "text-color",
        "label": "Text Color",
        "value": "#333333",
        "default": "#333333",
        "type": "color"
    },
    {
        "name": "background-color",
        "label": "Background Color",
        "value": "#FFFFFF",
        "default": "#FFFFFF",
        "type": "color"
    }
]