[
    {
        "name": "title-color",
        "label": "Title Color",
        "value": "#000000",
        "default": "#000000",
        "type": "color"
    },
    {
        "name": "text-color",
        "label": "Text Color",
        "value": "#333333",
        "default": "#333333",
        "type": "color"
    },
    {
        "name": "link-color",
        "label": "Link Color",
        "value": "#0000ff",
        "default": "#0000ff",
        "type": "color"
    },
    {
        "name": "background-color",
        "label": "Background Color",
        "value": "#efefef",
        "default": "#efefef",
        "type": "color"
    },
    {
        "name": "image-border-color",
        "label": "Image Border Color",
        "value": "#efefef",
        "default": "#efefef",
        "type": "color"
    },
    {
        "name": "section-separator-color",
        "label": "Section Separator Color",
        "value": "#cccccc",
        "default": "#cccccc",
        "type": "color"
    },
    {
        "name": "title-border-color",
        "label": "Title Border Color",
        "value": "#333333",
        "default": "#333333",
        "type": "color"
    },
    {
        "name": "special-background-color",
        "label": "Skills Background Color",
        "value": "#888888",
        "default": "#888888",
        "type": "color"
    },
    {
        "name": "special-text-color",
        "label": "Skills Text Color",
        "value": "#ffffff",
        "default": "#ffffff",
        "type": "color"
    }
]